@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.next-videos{
    margin: 0 $mobile-basic-spacing;

    @include tablet{
        margin: 0 $tablet-basic-spacing;
    }
    
    @include desktop{
        margin: 0 $desktop-basic-spacing;
    }

    &__title{
        text-transform: uppercase;
        margin: $mobile-basic-spacing 0;
        color: $sub-color;

        @include tablet{
            margin: 2rem 0 1rem 0;
        }
    }
}