@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;

.button{
    display: flex;
    background-color: $Primary-Color;
    border-radius: $bordeRadius;
    font-size: $buttonFontSize;
    width: 100%;
    padding: 0.6rem 0.7rem;
    align-items: center;
    position: relative;

    &__icon{
        position: absolute;
        height: 1.5rem;
    }
    &__btn{
        border: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.color__Primary-Color{
    color: $Primary-Color;
}

.background__white{
    background-color: white;
}