@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;

.profile{
    height: $header-spacing;
    width: $header-spacing;
    border-radius: 50%;
    object-fit: cover;
    object-position: left 1%;
    background-color: $border-color;
}
