// PRIMARY COLORS
$brainflix-black: #323232;
$primary-color: #0095FF;
$sub-color: #AFAFAF;

// SECONDARY COLORS
$brainFlix-darkblack: #000000;
$brainFlix-darkblue: #0065AD;
$border-color: #E1E1E1;
$alabaster: #FAFAFA; 