// spacing
$mobileBasicSpacing: 1rem;

// variables to keep website visually consistent
$bordeRadius: 4px;
$buttonFontSize: 0.75rem;
$headerSpacing: 2.5rem;


// breakpoints
$tablet: 768px;
$desktop: 1280px;