// spacing
$mobile-basic-spacing: 1rem;
$tablet-basic-spacing: 3rem;
$desktop-basic-spacing: 5rem;

// variables to keep website visually consistent
$borde-radius: 4px;
$button-font-size: 0.75rem;
$header-spacing: 2.5rem;


// breakpoints
$tablet: 768px;
$desktop: 1280px;