@use './partials/fonts';
@use './partials/typography';

*::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    font-family: AvenirNextLTPro;
    box-sizing: border-box;
}

h1{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
    margin: 0;
}