@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;

.comment{
    margin: 0 $mobileBasicSpacing;
    padding: $mobileBasicSpacing 0;
    display: flex;
    border-bottom: 1px solid $Mercury;

    &__container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 1rem;
    }

    &__info{
        display: flex;
        justify-content: space-between;
        margin-bottom: $mobileBasicSpacing;
        font-size: 0.85rem;
    }

    &__name{
        font-weight: bold;
    }

    &__date{
        color: $Silver;
    }
}