@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.comment{
    padding: $mobileBasicSpacing 0;
    display: flex;
    border-bottom: 1px solid $Mercury;

    @include tablet{
        padding: calc($mobileBasicSpacing + 1rem) 0;
    }

    @include desktop{
        padding-right: 2rem;
    }

    &__container{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }

    &__info{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        font-size: 0.85rem;
    }

    &__name{
        font-weight: bold;
    }

    &__date{
        color: $Silver;
    }

    &__profile{
        min-width: $headerSpacing;
    }
}