@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.next-video{
    display: flex;
    margin-bottom: 0.7rem;

    @include tablet{
        width: 40%;
        margin-bottom: 1rem;
    }

    @include desktop{
        width: unset;
    }

    &__image{
        min-width: 7rem;
        height: 3.5rem;
        object-fit: cover;
        border-radius: $bordeRadius;
        background-color: $Border-Color;

        @include desktop{
            height: 4rem;
        }
    }

    &__info{
        margin-left: $mobileBasicSpacing;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__title{
        font-weight: bold;
    }
}