@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.nav{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $mobile-basic-spacing;
    border-bottom: 1px solid $border-color;

    @include tablet{
        flex-direction: row;
        padding: 0 $tablet-basic-spacing; 
    }

    @include desktop{
        flex-direction: row;
        padding: 0 $desktop-basic-spacing;
    }

    &__logo{
        height: 1.5rem;
        background-color: white;

        @include tablet{
            margin-right: 15%;
        }

        @include desktop{
            margin-right: 50%;
        }
    }

    &__action-container{
        width: 100%;

        @include tablet{
            display: flex;
            width: 60%;
            margin-inline: auto 0;
        }

        @include tablet{
            width: 50%;
        }
    }

    &__search{
        width: 100%;
        height: $header-spacing;
        margin: $mobile-basic-spacing 0;
        display: flex;
        justify-content: space-between;
    }

    &__search-icon{
        height: 60%;
    }

    &__search-container{
        border: $border-color solid 1px;
        border-radius: $borde-radius;
        padding: 0.3rem 0.7rem;
        width: 90%;
        display: flex;
        align-items: center;
    }

    &__search-bar{
        border: none;
        margin-left: 0.5rem;
        width: 100%;
        height: 100%;
    }

    &__profile{

        &--mobile{
            margin-left: $mobile-basic-spacing;
            @include tablet{
                display: none;
            }
        }

        &--tablet{
            display: none;
            @include tablet{
                margin-left: $mobile-basic-spacing;
                display: initial;
            }
        }
    }

    &__upload{
        display: flex;
        width: 100%;
        justify-content: space-between;
        justify-self: flex-end;

        @include tablet{
            margin: $mobile-basic-spacing 0;
            flex-shrink: 1.2;
        }
    }

    &__button{
        width: 100%;
    }
}