@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.next-videos{
    margin: 0 $mobileBasicSpacing;

    @include tablet{
        margin: 0 $tabletBasicSpacing;
    }
    
    @include desktop{
        margin: 0 $desktopBasicSpacing;
    }

    &__title{
        text-transform: uppercase;
        margin: $mobileBasicSpacing 0;
        color: $Sub-Color;

        @include tablet{
            margin: 2rem 0 1rem 0;
        }
    }
}