@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;

.comment-form{
    display: flex;
    flex-direction: column;
    padding: $mobile-basic-spacing 0;
    border-bottom: 1px solid $border-color;
    
    @include tablet{
        padding: calc($mobile-basic-spacing + 1rem) 0;
    }

    &__count{
        margin-bottom: $mobile-basic-spacing;
        font-size: 0.9rem;
        font-weight: bold;
    }

    &__container{
        display: flex;
        justify-content: center;
    }

    &__profile{
        // title font-size + margin-bottom
        margin-top: calc(1rem + 0.5rem);
    }

    &__add{
        display: flex;
        flex-direction: column;
        margin-left: $mobile-basic-spacing;
        width: 90%;
    }


    &__title{
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $sub-color;
    }

    &__field{
        display: flex;
        flex-direction: column;
        
        @include tablet{
            height: 2.5rem;
            flex-direction: row;
        }
    }

    &__input{
        border: $border-color solid 1px;
        border-radius: $borde-radius;
        height: 5rem;
        width: 100%;
        margin-bottom: $mobile-basic-spacing;
        resize: none;
        padding: 0.5rem 0.8rem;

        @include tablet{
            height: 100%;
            margin-right: $mobile-basic-spacing;
            flex-shrink: 0.4;
        }
    }
}