@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;

.comment-form{
    display: flex;
    flex-direction: column;
    margin: 0 $mobileBasicSpacing;
    padding: $mobileBasicSpacing 0;
    border-bottom: 1px solid $Mercury;
    
    &__count{
        margin-bottom: $mobileBasicSpacing;
        font-size: 0.9rem;
        font-weight: bold;
    }

    &__container{
        display: flex;
        justify-content: center;
    }

    &__profile{
        // title font-size + margin-bottom
        margin-top: calc(1rem + 0.5rem);
    }

    &__add{
        display: flex;
        flex-direction: column;
        margin-left: $mobileBasicSpacing;
        width: 90%;
    }


    &__title{
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $Silver;
    }

    &__field{
        display: flex;
        flex-direction: column;
        
        @include tablet{
            height: 2.5rem;
            flex-direction: row;
        }
    }

    &__input{
        border: $Mercury solid 1px;
        border-radius: $bordeRadius;
        height: 5rem;
        width: 100%;
        margin-bottom: $mobileBasicSpacing;
        resize: none;
        padding: 0.5rem 0.8rem;

        @include tablet{
            height: 100%;
            margin-right: $mobileBasicSpacing;
            flex-shrink: 0.4;
        }
    }
}