@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $mobileBasicSpacing;

    @include tablet{
        flex-direction: row;
    }

    &__logo{
        height: 1.5rem;
        background-color: white;

        @include tablet{
            margin-right: 15%;
        }

        @include desktop{
            margin-right: 50%;
        }
    }

    &__search{
        width: 100%;
        height: $headerSpacing;
        margin: $mobileBasicSpacing;
        display: flex;
        justify-content: space-between;
    }

    &__search-icon{
        height: 60%;
    }

    &__search-container{
        border: $Mercury solid 1px;
        border-radius: $bordeRadius;
        padding: 0.3rem 0.7rem;
        width: 90%;
        display: flex;
        align-items: center;
    }

    &__search-bar{
        border: none;
        margin-left: 0.5rem;
        width: 100%;
        height: 100%;
    }

    &__profile{
        height: $headerSpacing;
        width: $headerSpacing;
        border-radius: 50%;
        object-fit: cover;
        object-position: left 1%;
        margin-left: $mobileBasicSpacing;

        &--mobile{
            @include tablet{
                display: none;
            }
        }

        &--tablet{
            display: none;
            @include tablet{
                display: initial;
            }
        }
    }

    &__upload{
        height: $headerSpacing;
        display: flex;
        width: 100%;
        justify-content: space-between;
        @include tablet{
            flex-shrink: 1.2;
        }
        @include desktop{
            flex-shrink: 1.1;
        }
    }

    &__upload-icon{
        height: 70%;
    }

    &__upload-container{
        display: flex;
        background-color: $BrainFlix-Blue;
        border-radius: $bordeRadius;
        font-size: $buttonFontSize;
        width: 100%;
        padding: 0.3rem 0.7rem;
        align-items: center;
    }

    &__upload-button{
        border: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
    }
}