@use '../../styles/partials/mixins' as *;

.video{
    &__video-container{
        width: 100%;    

        @include tablet{
            text-align: center;
            background-color: black;
        }
    
    }

    &__player{
        width: 100vw;
        min-height: 25vh;
        object-fit: cover;

        @include tablet{
            width: 90vw;
        }

        @include desktop{
            width: 70vw;
        }
    }
}