@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.comments{
    margin: 0 $mobile-basic-spacing;
    
    @include tablet{
        margin: 0 $tablet-basic-spacing;
    }

    @include desktop{
        margin: 0 $desktop-basic-spacing;
    }

}