@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.comments{
    margin: 0 $mobileBasicSpacing;
    
    @include tablet{
        margin: 0 $tabletBasicSpacing;
    }

    @include desktop{
        margin: 0;
    }

}